<div class="row">
  <strong><hr><strong>
  <div class="text-center">
    <ul class="list-inline banner-social-buttons">
      <li><a href="https://twitter.com"><i class="fa fa-twitter-square" style="color:blue; font-size:40px"></i></a></li>
      <li><a href="https://plus.google.com"><i class="fa fa-google-plus-official" style="color:red; font-size:40px"></i> </a></li>
      <li><a href="https://facebook.com/langtudatinh2060"><i class="fa fa-facebook-official" style="color:blue; font-size:40px"></i></a></li>
    </ul>
  </div>
</div>
