<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
<link rel="stylesheet" href="../.././css/breadcrumb.css">
<title>HOME</title>
</head>
<body>
<div class ="container">
<% include ../partials/greeting-user-bar %>
<% include ../partials/navbar %>
<!-- <div class ="row">
  <div class="col-lg-offset-2">
    <ol class="breadcrumb breadcrumb-arrow">
        <li class="active">Home</li>
         <li class="active">About</li>
    </ol>
  </div>
</div> -->
<div class="row">
<div class="about-members" style="background-color: #DDDDDD; margin-left: 10px; margin-right: 10px">
<div class="row">
 <div class="col-md-6 col-sm-12 col-xs-12">
   <img style="max-width:200px;" class="img-circle" src="img/avatar1.jpg" alt="avatar">
   <p>MSSV: 1412558</p>
   <p>Họ Tên: Phạm Quốc Toàn</p>
   <p>Ngày Sinh: 22/04/1996</p>
   <p>Địa chỉ: 35/7 Đỗ Thừa Luông, Tân Quý, Tân Phú, Hồ Chí Minh, Việt Nam</p>
   <p>Email: bossdiemmaimai@gmail.com</p>

 </div>

 <div class="col-md-6 col-sm-12 col-xs-12">
   <div class="wrapper">
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62707.93965304179!2d106.618012!3d10.792444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c07e7cf3aab%3A0x709df5647b350438!2zMzUgxJDhu5cgVGjhu6thIEx1w7RuZywgVMOibiBRdcO9LCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sus!4v1492263626681" frameborder="0" allowfullscreen></iframe>
               </div>
 </div>
</div>
</div>
</div>
<% include ../partials/social-icon-banner %>
<% include ../partials/footer %>
</div>
</body>
</html>
