 <!DOCTYPE html>
 <head>
 <<title><DETAIL IMAGE</DETAILS></title>
 	<% include ../partials/head %>
 	<style >
 		.imgEntire{
 			margin-top: 30px;
 		}
 	</style>
 </head>
 <html>
<body>
<% include ../partials/navbar %>
<div class="container">    
  <div class="row imgEntire">
  <div class="col col-md-4">
    <img src="<%= imgKQ.image_src %>" style="width: 100%;height: 100%;" >
  </div>

  </div>
</div>
<% include ../partials/footer %>
</body>
</html>