<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
<style type="text/css" media="screen">
.container {
display: table;
vertical-align: middle;
width: 350px;
height: 400px;
}
</style>
</head>
<body>
  <div class="container">
      <form action="login" method="POST" accept-charset="utf-8">
          <h1 class="text-center"><i class="fa fa-user-circle"></i></h1>
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <div class="form-group">
              <div class="input-group">
                  <span id="reauth-email" class="reauth-email"></span>
                  <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
                  <input class="form-control" placeholder="bossdiemmaimai@gmail.com" type="email" id="email" name="email" required autofocus>
              </div>
          </div>
          <div class="form-group">
              <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                  <input class="form-control" placeholder="******" type="password" id="password" name="password" required autofocus>
              </div>
          </div>
          <div class="form-group">
              <button type="submit" name="ubmit" id="submit" class="btn btn-primary btn-block">Login</button>
              <hr>
              <p class="text-center"><a href="/signup">SignUp</a></p>
              <p class="text-center"><a href="/">Home page</a></p>
          </div>
          <div class="form-group">
              <h3>...Login with:</h3>
              <div class="text-center">
                  <a class="btn btn-link-1 btn-link-1-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i>Facebook</a>
              </div>
          </div>
      </form>
  </div>    
</body>
</html>
