<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <!-- đọc cấu hình thiết bị-->
    <title>Friends</title>
    <!-- thự viện font icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/style.css">
    
    <script type="text/javascript" src="../js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../css/select.dataTables.min.css">
    <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
    <script type="text/javascript" src="../js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../js/dataTables.select.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
  			 $('#myTable').DataTable();
	});
    </script>

</head>

<body>
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="header_right pull-right">
					<ul class="parent">
						<div>
							<% if (user) { %>
                        		<span>Hello! </span>
                        		<strong><img src="<%= user.user_avatar %>" alt="avatar" style="width: 30px; height: 30px"><%= user.user_name %></strong>
                        		<a href="/logout" style="color: #999"><span class="glyphicon glyphicon-log-out"></span> Logout </a>
                    		<% } %>

                    		<% if (!user) { %>
								<a href="/login" style="color: #999"><span class="glyphicon glyphicon-user"></span> Login </a> | 
								<a href="/signup" style="color: #999"><span class="glyphicon glyphicon-pencil"></span> SignUp </a>
                    		<% } %>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<!-- end row -->
		
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
						<span class="sr-only">Toggle navigation</span> 
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						</button>
                    </div>
					<!-- navbar collapse -->
					<div class="collapse navbar-collapse" id="collapse">
						<ul class="nav navbar-nav navbar-left"> <!-- navbar năm bên trái-->
							<li><a href="/"><span class="glyphicon glyphicon-home"></span> Home </a></li>
							<li class="active"><a href="/messages"><span class="glyphicon glyphicon-envelope"></span> Messages </a></li>
							<li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users </a></li>
							<li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About </a></li>
						</ul>
					</div>
                
                    <ol class="breadcrumb">
                        <li><a href="/home">Home</a></li>
						<li><a href="/messages">Messages</a></li>
						<li class="active">Friends</li>
                    </ol>
                </nav>
            </div>
			<!-- end  col-md-12-->
        </div>
		<!-- end  row-->    
		
		<div class="row">
            <div class="col-md-3">
				<div class="navbar-collapse navbar-default" id="sidebar">
					<ul class="nav nav-list">
						<li><a href="/messages/inbox-messages"><i class="fa fa-envelope"></i> Inbox Messages </a></li>
						<li><a href="/messages/new-messages"><i class="fa fa-send"></i> New Messages </a></li>
						<li><a href="/messages/sent-messages"><i class="fa fa-archive"></i> Sent Messages </a></li>
						<li><a href="/messages/friends"><i class="fa fa-users"></i> Friends </a></li>
					</ul>
				</div>
            </div>
            <!-- end col-md-3 -->


            <!-- content 9col -->
            <div class="col-md-9">
                <h1 class="text-center"> Friends Page </h1>
			
			</div> 
            <!--end  10col-->
        </div>
		
		
		<!-- footer--> 
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<ul class="list-inline banner-social-buttons">
					<li><a href="https://twitter.com"><i class="fa fa-twitter-square" style="color:blue; font-size:48px"></i></a></li>
					<li><a href="https://plus.google.com"><i class="fa fa-google-plus-official" style="color:red; font-size:48px"></i> </a></li>
					<li><a href="https://facebook.com/langtudatinh2060"><i class="fa fa-facebook-official" style="color:blue; font-size:48px"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-12">
				<p class="copyright">2017 Powered By Blue Group, Theme By Bootstrap</p>
			</div>	
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->

    </div>
    <!-- end container -->
</body>
</html>