<!-- <!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">


    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <style type="text/css" media="screen">
    .container {
    display: table;
    vertical-align: middle;
    width: 350px;
    height: 400px;
    }
    </style>
</head>
<body>
    <div class="container">
        <form action="signup" method="POST" accept-charset="utf-8">
            <h1 class="text-center"><i class="fa fa-user-circle"></i></h1>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                    <input class="form-control" placeholder="Full Name: Tèo Đập Chai" type="text" id="fullname" name="fullname" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
                    <input class="form-control" placeholder="Email: bossdiemmaimai@gmail.com" type="email" id="email" name="email" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-phone fa-fw"></i></div>
                    <input class="form-control" placeholder="Phone: 1234567890" type="tel" id="phone" name="phone" required autofocus pattern="[0-9]{10,11}" title="">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                    <input class="form-control" placeholder="******" type="password" id="password" name="password" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">SignUp</button>
                <hr>
                <p class="text-center"><a href="/login">Login now!</a></p>
                <p class="text-center"><a href="/">Home page</a></p>
            </div>
            <div class="form-group">
                <h3>...Login with:</h3>
                <div class="text-center">
                    <a class="btn btn-link-1 btn-link-1-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i>Facebook</a>
                </div>
            </div>
        </form>
    </div>
</body>  
</html> -->
